<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSeQDTGHh_llc1I4NTSBkjBLxTVzm_5cw</string>
	<key>GCM_SENDER_ID</key>
	<string>504485681431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srinivasa.crm</string>
	<key>PROJECT_ID</key>
	<string>crm-app-7f354</string>
	<key>STORAGE_BUCKET</key>
	<string>crm-app-7f354.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504485681431:ios:0085f7e32c1b0e50e57f52</string>
</dict>
</plist>